
  <div class="row">
    <div class="container">
      <div class="col-sm-12">
        <div class="balloon">
          <div><span>☺</span></div>
          <div><span>B</span></div>
          <div><span>D</span></div>
          <div><span>A</span></div>
          <div><span>Y</span></div>
          <div><span>!</span></div>
        </div>
        <h1>:* Pishi Jan :*</h1>
      </div>
    </div>
  </div>



<div class="row" style="margin:20px; paddding:20px;">
    
    <div class="col-sm-4">
        <div id="num1">
        <%= image_tag ('original.jpg'), class:"img-circle img-responsive img-center image300" %>
        <h2 class="yellow ">The original plan</h2>
        <h3 class="green">The original plan was to clean the apartment so much.</h3>
        <h3 class="pink">finish the unpacking and </h3>
        <h3 class="blue">then me play a happy birthday song for you on piano while you enter the apartment.</h3>
        </div>
        </div>
        
    
    <div class="col-sm-4">
                <div id="num1">

      <%= image_tag ('Change.jpg'), class:"img-circle img-responsive img-center image300" %>
      <h2 class="pink">Change of plans</h2>
      <h3 class="orange">But that was impossible</h3>
      <h3 class="blue">pishi’s stupid work made her stay longer</h3> 
      <h3 class="purple">So I had to do the shopping and there was no way I  could be in the apartment when You enter.</h3>
    </div>
    </div>
    <div class="col-sm-4">
                <div id="num1">

      <%= image_tag ('Sad.jpg'), class:"img-circle img-responsive img-center image300" %>
      <h2 class="green">More trouble</h2>
      <h3 class="yellow">Poopi couldn’t even find a piano software to practice the happy birthday song</h3>
      <h3 class="pink">which made him very sad  :’( </h3>
      </div>
    </div>
    <div class="col-sm-4">
                <div id="num1">

      <%= image_tag ('Nerd.jpg'), class:"img-circle img-responsive img-center image300" %>
      <h2 class="orange">Nerdy Poopi</h2>
      <h3 class="blue">Poopi realized that he is a nerd</h3>
      <h3 class="purple">he can make a nice cute website for pishi jan</h3>
      <h3 class="green">to tell her happy birthday and how much he loves her.</h3>
    </div>
    </div>
    
    </div>
  
<div class="container">
<div class="row">
    <div class="col-sm-12">
      <h1 class="yellow">So without More boring things to say …</h1>
    </div>
    </div>
</div>
    
   
        <div class="container">
            <div class="row" style="padding-top:100px;">
                <div class="col-lg-12">
                       <%= image_tag ('Love.jpg'), class:"img-circle img-responsive img-center" %>
                       <h2 class="orange" style="margin-top:55px;">Happy Birthday My sWeEteSt PiShIjAn in the world with all of poopi's bestest wishes for you!!!</h2>
                           <h3 class="pink">Love,</h3>
                           <h3 class="green">PooPi</h3>
                </div>
            </div>
        </div>
  

